.terms__content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	padding: 56px 24px 0;
}

.terms__content h1 {
	margin-bottom: 2rem;
}

.terms__content h2 {
	margin-top: 2rem;
}

.terms__content p,
.terms__content ul {
	line-height: 1.6;
}
